body {
    margin: 0;
}

.first-section {
    padding: 10px 160px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    
    .header-links {
        display: flex;
        gap: 20px;
    }

    h3 {
        margin: 0;
        color: #f9faf8;
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: #e5e7eb;
        font-size: 18px;
    }
}

img {

}
