body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: #e5e7eb;
    padding: 6px 16px;
    font-weight: bold;
}

.first-section {
    padding: 10px 180px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    
    .header-links {
        display: flex;
        gap: 20px;
    }

    h3 {
        margin: 0;
        color: #f9faf8;
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: #e5e7eb;
        font-size: 18px;
    }
}

.hero {
    display: flex;
    gap: 48px;
    padding: 90px 0;

    h1 {
        color: #f9faf8;
        font-size: 48px;
        font-weight: extra-bold;
        margin: 0;
    }

    .hero-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;

        p {
            margin: 0;
            font-size: 18px;
            color: #e5e7eb;
        }

    }


    .placeholder {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            margin: 0;
            color: #e5e7eb;
        }
    }
}

img {
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.second-section {

    h1 {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
        text-align: center;
        margin: 32px 0;
    }

    .info-container {
        margin-bottom: 90px;
        display: flex;
        justify-content: center;
        gap: 48px;

        p {
            text-align: center;
            flex: 1 1 auto;
        }

    }

    .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 170px;
    }

    .illustration {
        align-self: stretch;
        aspect-ratio: 1 / 1;
        border-radius: 12px;
        flex: 0 1 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border: 2px solid #3882f6;
            box-sizing: border-box;
        }
    }

    #fran {
        border: 2px solid #3882f6;
    }
}

.third-section {
    height: 450px;
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 750px;
    }
    
    em {
        font-size: 36px;
        font-weight: lighter;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
        align-self: flex-end;
    }
}

.fourth-section {
    margin: 100px 180px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 110px;
    color: #e5e7eb;

    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }

    h2 {
        margin: 0;
    }

    button {
        align-self: flex-end;
        border: 2px solid #e5e7eb;
    }
}

.footer {
    background-color: #1f2937;
    padding: 20px 0;
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
}
